
langchain-google-genai
langchain-openai
langchain-huggingface
langchain-anthropic
langchain-groq
langchain_mistralai
langchain
langchain_community
sentence-transformers

python-dotenv
grandalf
ipykernel
pypdf
bs4
wikipedia
youtube-transcript-api
duckduckgo-search
langchain-experimental
faiss-cpu